.nav {
    color: black;
    padding-left: 5%;
    font-family: 'Inter', sans-serif;
    margin-top: 10%;
}

.logo {
    font-family: 'Consolas', sans-serif;
    padding-left: 34%;
}

.menu {
    padding-right: 10%;
    margin-right: 4%;
}

a:hover {
    color: gray;
    text-decoration: none;
}

a:active {
    color: gray;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    text-align: left;
    background-color: #ffffff;
}

.description {
    padding-left: 18%;
    padding-right: 18%;
    margin-top: 5%;
}

footer {
    margin-top: 8%;
    margin-bottom: 2%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-bottom: 4%;
    padding-left: 19.5%;
}

.hook {
    font-family: 'Consolas', sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.footer-link {
    text-decoration: none;
    color: #2C7AD6;
    font-weight: bold;
}

.credits {
    padding-left: 1.8%;
    margin-top: 5%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.highlight {
    font-family: 'Consolas', sans-serif;
    font-weight: bold;;
}
.temp {
    width: 80%;
}
.proto {
    width: 20%;
}

.preview {
    background-color: lightgray;
    height: 500px;
    margin-top: 3%;
    margin-right: 15%;
    margin-left: 15%;
}

.discord-preview {
    width:33%;
    margin-bottom: 0;

}
.display {
    /* position: absolute;
    bottom: 0; */
}

.heading {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    color: black;
    margin-bottom: 2%;
    font-weight: bold;
}
.subheading {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: black;
}
.section {
    margin-bottom: 3%;

}
.divide {
    margin-top: 10%;
}

.style-guide {
    width: 50%;
    margin-top: 3%;
    margin-left: auto;
   margin-right: auto;

}

.wireframes {
    width: 20%;
}

.bold {
    font-weight: bold;
}

.regular {
    font-weight:400;
    margin-top: 1%;
}

.feature {
    width: 50%;
}

.feature-LHS {
    width: 50%;
   
}
.feature-special {
    width: 45%;
}

.indent {
    padding-left: 5%;
    padding-right: 5%;
}

.small-indent {
    padding-left: 4%;
    padding-right: 4%;
}

th {
    text-align: center;
}
td {
    text-align: center;
}
.align-left {
    text-align: left;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    width: 100%;
    margin-bottom: 3%;
}

table {
    margin-top: 2%;
}