.nav {
    color: black;
    padding-left: 5%;
    font-family: 'Inter', sans-serif;
    margin-top: 10%;
}

.logo {
    font-family: 'Consolas', sans-serif;
    padding-left: 34%;
}

.menu {
    padding-right: 10%;
    margin-right: 4%;
}

a:hover {
    color: gray;
    text-decoration: none;
}

a:active {
    color: gray;
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    text-align: left;
    background-color: #f6f6f6;
    line-height: 175%;
    color: #4F535C;
}

.description {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 5%;
}

footer {
    margin-top: 8%;
    margin-bottom: 2%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-bottom: 4%;
    padding-left: 19.5%;
}

.hook {
    font-family: 'Consolas', sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.footer-link {
    text-decoration: none;
    color: #2C7AD6;
    font-weight: bold;
}

.credits {
    padding-left: 1.8%;
    margin-top: 5%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.highlight {
    font-weight: bold;
}

.proto-left {
    width: 33%;
    margin-left: 18%;
}

.proto-right {
    width: 33%;
}

.proto-bottom {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
}

.preview {
    background-color: #dee7fa;
    height: 500px;
    margin-top: 3%;
    margin-right: 15%;
    margin-left: 15%;
}

.discord-preview {
    width: 65%;
    position: absolute;
    bottom: 0;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-top: 27%;
    padding-left: 14%;
}

.view-proto {
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    color: black;
    margin-top: 10%;

}

.heading {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #4F535C;
    margin-bottom: 2%;
}
.subheading {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #6897f9;
}

.overview {
    margin-bottom: 4%;
  
}

.overview h4 {
    font-weight: 500;
}
.section {
    margin-bottom: 3%;

}
.divide {
    margin-top: 10%;
}

.primary-research {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 8%;
}
.survey {
    width: 55%;
}

.primary-research .left {
    margin-right: 2%;
}

.primary-research .right {
    margin-left: 2%;
}


.key-insights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 9%;
}
.insights {
    width: 30%;
}

.key-insights .middle {
    margin-left: 6%;
    margin-right: 6%;
}



.style-guide {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 5%;

}

.wireframes {
    width: 50%;
    margin-bottom: 3%;
    padding-right: 5%;
}

.bold {
    font-weight: bold;
}

.regular {
    font-weight:400;
    margin-top: 1%;
}

.feature {
    width: 80%;
    margin-bottom: 5%;
}

.feature-LHS {
    width: 80%;
    margin-bottom: 5%;
   
}
.feature-special-left {
    width: 38%;
    margin-left: 10%;
}
.feature-special-right {
    width: 38%;
}


.indent {
    padding-left: 5%;
    padding-right: 5%;
}

.small-indent {
    padding-left: 3.5%;
    padding-right: 3.5%;
}

th {
    text-align: center;
    font-size: 14px;
    border-top: 0px !important
}

td {
    text-align: center;
    font-size: 14px;
}
td:first-child {
    border-left: 0px !important;
}

.align-left {
    text-align: left;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    width: 100%;
    margin-bottom: 3%;
}

table {
    margin-top: 3%;
}

.table {
    margin-bottom: 8%;
}

.italics {
    font-style: italic;
}

/* .overview  {
    justify-content: space-around;
} */
.temp {
    padding-left: 5%;
}

.extra-margin-top {
    margin-top: 6%;
}
.extra-margin-bottom {
    margin-bottom: 2%;
}

/* .feature-descrip-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    background-color: red;
} */

.feature-margin-bottom {
    margin-bottom: 5%;
}